
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos opcionales de Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: white;
}

body {
  font-family: 'Rubik', sans-serif;
}
